# generated
*.o

# no binaries
*.exe

# roms
*.gba

# rgbds extras
*.map
*.sym

# compare.sh
baserom.txt
GBABios.txt

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc
# swap files for vim
.*.swp
# swap files for gedit
*~

